/**
 *   @author : Leah Isenor (B00316891)
 */

img  {
    height: 15vw;
    min-height: 15vw;
    width:100%;
    object-fit: cover;
}

.tours-btn {
    margin-left: 2vw;
    width: 10vw;
}

div.tours {
    margin-left: auto;
    margin-right: auto;
}
