/**
 *   @author : Vasu Gamdha (B00902737)
 */

.logo-size {
    height: 2.7rem;
    min-height: auto;
  }
  
  .navbar {
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
  
  .active {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  #navbar .nav-link {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white !important;
    padding: 0.4rem !important;
    margin-right: 1rem;
    border-radius: 0.5rem;
  }
  